// $verde:#009e77;
$verde:#6f9e00;
$gris-transparente:#2a2a2adc;
$gris-no-transparente:#2a2a2a;
$gris:#666666d2;
$blanco:#f5f5f5;
// $blanco:#2a2a2a;
.darkmode{

    $blanco:#2a2a2a;
    $verde:#f5f5f5;
}